.App {
  width: 100%;
  height: 100vh;
}

.Header {
  padding: 20px 40px 20px 40px;
  font-size: 24px;
  font-weight: bold;
}

.DrawerButton {
  margin-right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  transition: all 0.25s;
}

.DrawerButton:hover {
  opacity: 0.7;
}

.DrawerButtonImg {
  position: relative;
  width: 23px;
  top: 2px;
}

.Drawer {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 40px;
  height: 100vh;
  width: 240px;
  background-color: #fff;
  transform: translateX(-100%);
  transition: none;
}

.Drawer.isShow {
  transform: translateX(-0);
  z-index: 999;
  transition: all 0.2s ease-out;
}

.DrawerCloseButton {
  position: absolute;
  right: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  transition: all 0.25s;
}

.DrawerCloseButton:hover {
  opacity: 0.7;
}

.DrawerCloseButtonImg {
  position: relative;
  width: 23px;
  top: 2px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0;
  visibility: hidden;
  transition: none;
}

.overlay.isShow {
  opacity: 0.5;
  visibility: visible;
}